<h1>New movie</h1>

<form id="new-movie" name="movie">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="imdb_id"> imdb_id:</label>
    <input type="text" name="imdb_id" id="imdb_id" value="<%= imdb_id %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Save Movie" />
  </div>

</form>

<a href="#/index">Back</a>