@media (max-width: 767px) {
  .navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
  }
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0px;
    margin-right: 0px;
  }
}