/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require token-input
 *= require leaflet
 *= require twitter/bootstrap
 *= require twitter/bootstrap-responsive
 *= require_tree ./all
 */
$light_gray: #dcdcdc;
$white: #fff;
$black: #000;
$transparent_50black: rgba(0,0,0,0.5);

html {
  background-color: transparent;

  body {
  	overflow: hidden;
    #map {
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index:0;
    }
    .navbar {
      -moz-box-shadow: 0 0 3px $black;
      -webkit-box-shadow: 0 0 3px $black;
      box-shadow: 0 0 3px $black;

      .navbar-inner {
        background-image: none;
        background-color: rgba(20,20,20,0.75);
      }
    }
    #search {
      z-index: 100;
      position: relative;

      ul.token-input-list {
        padding-left: 30px;
      }
    }
    #body {
      margin-bottom: 10px;
      #overlay {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: $transparent_50black;
        z-index: 1000;

        .message {
          background-color: $white;
          border: 1px solid #E5E5E5;
          border-radius: 5px 5px 5px 5px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          margin: 0 auto 20px;
          max-width: 300px;
          padding: 19px 29px 29px;
          position: relative;
          top: 35%;
        }
      }
    }
    .absolute-left {
      position: absolute;
      left: 10px;
      top: 10px;
    }
    // Overwrite Leaflet defaults
    .leaflet-top {
      .leaflet-control {
        margin-top: 50px;
      }
    }

    .leaflet-right {
      .leaflet-control {
        margin-right: 80px;
      }
    }
  }
}
