/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require token-input
 *= require leaflet
 *= require twitter/bootstrap
 *= require twitter/bootstrap-responsive
 *= require_tree .
 */
$light_gray: #dcdcdc;
$white: #fff;
$black: #000;

html {
  background-color: transparent;

  body {
  	overflow: hidden;
  }
  .navbar {
    -moz-box-shadow: 0 0 3px $black;
    -webkit-box-shadow: 0 0 3px $black;
    box-shadow: 0 0 3px $black;
  
    .navbar-inner {
      background-image: none;
      background-color: rgba(20,20,20,0.75);
    }
  }
  #body {
    margin-bottom: 10px;

    #search {
    	z-index: 100;
    }
  }

  // Overwrite Leaflet defaults
  .leaflet-top {
    .leaflet-control {
      margin-top: 50px;
    }
  }

  .leaflet-right {
    .leaflet-control {
      margin-right: 80px;
    }
  }
}
