/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require token-input
 *= require leaflet
 *= require leaflet.markercluster
 *= require leaflet.markercluster.default
 *= require twitter/bootstrap
 *= require_tree ./all
 *= require_self
 *= require twitter/bootstrap-responsive
 *= require application-responsive
 */
$light_gray: #dcdcdc;
$white: #fff;
$black: #000;
$transparent_50black: rgba(0,0,0,0.5);

$sidebar-width: 300px;
$menu-width: 150px;

@mixin light-shadow {
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.8);
}

@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);
html {
  height: 100%;
  background-color: transparent;
}
body {
  padding: 0;
  padding-top: 40px; // For top fixed-navbar
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  h1, h2, .lato-light {
    font-family: 'Lato',sans-serif;
    font-weight: 300;
  }
}
.absolute-left {
  position: absolute;
  left: 20px;
  vertical-align: 50%;
}
#search {
  z-index: 10;
  float: right;
  margin: 5px 20px;
  ul.token-input-list {
    width: 380px;
    z-index: 40;
  }
}
.separator {
  border-top: 3px solid gray;
}
#layout, #sidebar, #menu {
  transition: all 0.2s ease-out 0s;
}
#sidebar {
  bottom: 0;
  right: $sidebar-width;
  margin-right: -$sidebar-width;
  overflow-y: auto;
  position: fixed;
  top: 40px; // For top fixed-navbar
  width: $sidebar-width;
  z-index: 20;
  @include light-shadow;
}
.navbar {
  @include light-shadow;
}
#overlay {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $transparent_50black;
  z-index: 20;
}
.message {
  background-color: $white;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin: 0 auto 20px;
  max-width: 300px;
  padding: 19px 29px 29px;
  position: relative;
  top: 35%;
}
#layout {
  height: 100%;
  left: 0;
  // For sidebar
  padding-right: $sidebar-width;
}
#main {
  height: 100%;
}
#map {
  height: 100%;
}
// Overwrite Leaflet defaults
.leaflet-bottom {
  .leaflet-control {
    margin-bottom: 50px;
  }
}
@media (max-width: 870px) {
  #layout {
    padding-left: 0; // for sidebar
    padding-right: 0; // for menu
    position: relative;
  }
  #layout.active {
    left: $sidebar-width;
    position: relative;
  }
  #layout.active #sidebar {
    right: $sidebar-width;
    width: $sidebar-width;
  }
  #sidebar {
    top: 50px;
    right: 0;
    background: white;
  }
  #main {
    position: fixed;
    top: 50px;
    left: 0;
  }
  #sidebarMenu {
    display: block;
    left: 0;
    top: 60px;
    bottom: 0;
    position: fixed;
    background: transparent;
    transition: all 0.2s ease-out 0s;
    width: 40px;
  }
  #sidebarMenu.active {
    left: $sidebar-width;
  }
}