// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light_gray: #dcdcdc;
$white: #fff;
$black: #000;

html {
  background-color: transparent;
}

.navbar {
  -moz-box-shadow: 0 0 3px $black;
  -webkit-box-shadow: 0 0 3px $black;
  box-shadow: 0 0 3px $black;
  
  .navbar-inner {
    background-image: none;
    background-color: rgba(20,20,20,0.75);
  }
}

#body {
  margin-bottom: 10px;

  #map {
    width: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index:-1;
  }

  #movies {
    z-index: 1;
    margin: 0 auto;
    padding: 20px;
    padding-top: 50px;
    background-color: $white;
    -moz-box-shadow: 0 0 3px $black;
    -webkit-box-shadow: 0 0 3px $black;
    box-shadow: 0 0 3px $black;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    overflow: hidden;
  }
}

// Overwrite Leaflet defaults
.leaflet-top {
  .leaflet-control {
    margin-top: 50px;
  }
}

.leaflet-right {
  .leaflet-control {
    margin-right: 50px;
  }
}
